/* reagras do header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}

header,
main,
footer {
    width: 100%;
    /* Não usa 100vw pra evitar scroll */
}

header {
    background-color: #982417;

}

.pai {
    text-align: center;
    justify-content: center;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    display: flex;
    font-size: 50px;
    padding: 10px;


        {
        text-decoration: none;
        color: white;
    }


}

.pai h1 {
    font-size: 80px;
}

span {
    color: #FFF0D1;
}

.coffe {
    color: #FFF0D1;
    align-items: center;
    justify-content: center;
    width: 66.67px;
    height: 60px;
    text-align: center;

}

.navbar {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFF0D1;
    gap: 60px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-size: 30px;
    padding: 10px;



}


.link:hover {
    font-size: 30px;


}


.link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 1s;
    font-size: 30px;
}



.navbar a:hover {
    color: white;
    border-bottom: 3px solid #FFF0D1;
    text-decoration: none;

}

.navbar a:hover {
    color: white;
    border-bottom: 3px solid #FFF0D1;
    text-decoration: none;

}


.navbar a:hover {
    color: white;
    border-bottom: 3px solid #FFF0D1;
    text-decoration: none;

}


/* header acaba aqui */

/* reagras do MAIN */
main {
    background-color: rgb(255, 255, 255);
    background-image: url(../img/banner_Dsk.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    width: 1, 440px;
    height: 528px;

}


.pai_form {
    display: flex;
    justify-content: right;





}

.form {
    display: block;
    background-color: white;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    width: 589px;
    height: 237px;
    padding: 30px;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-style: normal;

}

.form_two {

    display: block;
    font-size: 20px;
    margin-top: 30px;
    font-family: "Lekton", monospace;
    font-weight: 400;
    font-style: normal;
}

.span_two {
    color: maroon;
}

.pai_botoes {

    padding: 8px;
    justify-content: center;

}

.botao-branco {

    border: 1px solid orange;
    border-radius: 10px;
    padding: 8px 20px;
    margin-top: 30px;

}

.botao-laranja {

    border: 1px solid orange;
    background-color: orange;
    border-radius: 10px;
    padding: 8px 20px;


}

/* reagras do MAIN acaba aqui */
.two_part {
    background-color: #FFF0D1;
    display: block;
    height: 360px;
    padding-top: 20px;



}

.two_text {
    display: flex;
    color: #982417;
    font-size: 32px;
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-style: normal;
    margin-left: 20px;


}

.two_text::before {
    content: "";
    /* Conteúdo vazio é necessário para pseudo-elementos */
    display: flex;
    /* Para controlar largura e altura */
    width: 10px;
    /* Largura da barra */
    height: 1.1em;
    /* Altura da barra (ajuste conforme a altura da sua fonte) */
    background-color: #A52A2A;
    /* Cor da barra (marrom, como na imagem) */
    margin-right: 10px;
    /* Espaço entre a barra e o texto */
    vertical-align: middle;
    /* Alinha a barra verticalmente com o texto */
}

.caixa_one {

    padding-top: 10px;
    margin-top: 10px;
    background-position: center 0.5px;
    background-repeat: no-repeat;
    display: flex;
    width: 300px;
    height: 249px;
    background-color: white;
    text-align: center;
    margin-left: 350px;
    background-image: url(../img/Increase.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center 30px;


}




.p_one {


    color: #982417;
    margin-top: 10px;


}

.text_one {

    margin-top: 120px;
    font-size: 16px;

}




.caixa_two {
    display: flex;
    justify-items: center;
    margin-left: 100px;
    background-color: #982417;
}

.caixa_tree {

    display: flex;
    background-color: white;
    width: 300px;
    height: 249px;
    margin-left: 750px;
    margin-top: -250px;
    background-image: url(../img/sack-dollar-solid.svg);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center 30px;

}


.text_tree {

    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 130px;
    height: 10px;



}


.caixa_for {

    background-color: white;
    display: flex;
    width: 300px;
    height: 249px;
    background-color: white;
    text-align: center;
    margin-left: 1100px;
    margin-top: -250px;
    background-image: url(../img/acordo.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center 30px;

}



.text_for {
    display: block;
    margin-top: 130px;

}

.part_tre {

    background-image: url(../img/franqueado.png);
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    height: 595px;
    margin-top: 48px;



}



.text_tre {

    color: white;
    display: flex;
    padding-top: 10px;
    font-size: 32px;
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-style: normal;
    margin-left: 20px;



}

.text_tre::before {
    content: "";
    /* Conteúdo vazio é necessário para pseudo-elementos */
    display: flex;
    /* Para controlar largura e altura */
    width: 10px;
    /* Largura da barra */
    height: 1.1em;
    /* Altura da barra (ajuste conforme a altura da sua fonte) */
    background-color: #ffffff;
    /* Cor da barra (marrom, como na imagem) */
    margin-right: 10px;
    /* Espaço entre a barra e o texto */
    vertical-align: middle;
    /* Alinha a barra verticalmente com o texto */
}


.text_one_tree {
    display: flex;
    height: 10px;
    font-weight: 100px;
    margin: 0px;
    font-size: 40px;
    margin-right: 300px;
    margin-top: 100px;
    display: flex;

}


.nome {
    display: flex;
    font-size: 32px;
    margin-top: 400px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

.escrita {
    padding-top: 80px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    width: 844px;
    height: 258px;
    font-family: "Lekton", monospace;
    font-weight: 400;
    font-style: normal;
}

.name {
    color: #ffffff;
    font-size: 32px;
    margin-left: 10px;
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-style: normal;
}

.name_tu {
    color: white;
    margin-left: 10px;
}

.ultima_parte {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 32px;
    margin-top: 600px;



}

.text_ult {
    display: flex;
    font-size: 32px;
    margin-left: 10px;
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-style: normal;
    color: #982417;

}

.text_ult::before {
    content: "";
    /* Conteúdo vazio é necessário para pseudo-elementos */
    display: block;
    /* Para controlar largura e altura */
    width: 10px;
    /* Largura da barra */
    height: 1.1em;
    /* Altura da barra (ajuste conforme a altura da sua fonte) */
    background-color: #982417;
    /* Cor da barra (marrom, como na imagem) */
    margin-right: 10px;
    /* Espaço entre a barra e o texto */
    vertical-align: middle;
    /* Alinha a barra verticalmente com o texto */
}


.modelo_bistro_ONE{
   
    background-position: center -30px;
    text-align: center;
    margin-left: 100px;
    background-color: #982417;
    width: 308px;
    margin-top: 50px;
}


.modelo_bistro_TWO{
    justify-content: center;
    text-align: center;
    margin-left: 500px;
    background-color: #982417;
    width: 308px;
    margin-top: 50px;
    

}




