/* reagras do header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}

header,
main,
footer {
    width: 100%;
    /* Não usa 100vw pra evitar scroll */
}

header {
    background-color: #982417;

}

.pai {
    text-align: center;
    justify-content: center;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    display: flex;
    font-size: 50px;
    padding: 10px;


        {
        text-decoration: none;
        color: white;
    }


}

.pai h1 {
    font-size: 80px;
}

span {
    color: #FFF0D1;
}

.coffe {
    color: #FFF0D1;
    align-items: center;
    justify-content: center;
    width: 66.67px;
    height: 60px;
    text-align: center;

}

.navbar {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFF0D1;
    gap: 60px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-size: 30px;
    padding: 10px;



}


.link:hover {
    font-size: 30px;


}


.link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 1s;
    font-size: 30px;
}



.navbar a:hover {
    color: white;
    border-bottom: 3px solid #FFF0D1;
    text-decoration: none;

}

.navbar a:hover {
    color: white;
    border-bottom: 3px solid #FFF0D1;
    text-decoration: none;

}


.navbar a:hover {
    color: white;
    border-bottom: 3px solid #FFF0D1;
    text-decoration: none;

}


/* header acaba aqui */

/* reagras do MAIN */
main {
    background-color: rgb(255, 255, 255);
    background-image: url(../img/banner_Dsk.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    width: 1, 440px;
    height: 528px;

}


.pai_form {
    display: flex;
    justify-content: right;





}

.form {
    display: block;
    background-color: white;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    width: 589px;
    height: 237px;
    padding: 30px;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-style: normal;

}

.form_two {
    display: block;
    font-size: 20px;
    margin-top: 30px;
    font-family: "Lekton", monospace;
    font-weight: 400;
    font-style: normal;
}

.span_two {
    color: maroon;
}

.pai_botoes {

    padding: 8px;
    justify-content: center;

}

.botao-branco {

    border: 1px solid orange;
    border-radius: 10px;
    padding: 8px 20px;
    margin-top: 30px;

}

.botao-laranja {

    border: 1px solid orange;
    background-color: orange;
    border-radius: 10px;
    padding: 8px 20px;


}

/* reagras do MAIN acaba aqui */

.two_parte {
    display: flex;
    background-color: #FFF0D1;
    height: 360px;
   
    


}

.destaque {
    display: flex;
    height: 10px;
    color: #982417;
    padding-left: 15px;
    margin-top: 30px;
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
  
    
  


}

.destaque::before {
    content: "";
    /* Conteúdo vazio é necessário para pseudo-elementos */
    display: flex;
    /* Para controlar largura e altura */
  
    gap: -10px;
    width: 10px;
    /* Largura da barra */
    height: 1.2em;
    /* Altura da barra (ajuste conforme a altura da sua fonte) */
    background-color: #A52A2A;
    /* Cor da barra (marrom, como na imagem) */
    margin-right: 8px;
    /* Espaço entre a barra e o texto */
    vertical-align: :bottom
        /* Manter o alinhamento vertical */


}

.pai_one{
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 80px;
}


.one{
display: flex;
background-color: aliceblue;
width: 300px;
height: 249px;
margin-top: 100px;
margin-right: 80px;
text-align: center;
}

.one_text{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
  
}